# Merge

In [1]:
import pandas as pd
import numpy as np

In [5]:
df_left = pd.DataFrame({
    'X' : ['x0', 'x1', 'x2', 'x3'],
    'W' : ['w0', 'w1', 'w2', 'w3'],
    'Y' : ['y0', 'y1', 'y2', 'y3'],
    }, 
    index=[0, 1, 2, 3]
)

df_right = pd.DataFrame(
    {'Z' : ['z2', 'z3', 'z4', 'z5'],
     'A' : ['a2', 'a3', 'a4', 'a5'],
     'Y' : ['y2', 'y3', 'y4', 'y5'],},
    index=[2, 3, 4, 5]
)

In [6]:
pd.merge(df_left, df_right, how='inner')

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [8]:
pd.merge(df_left, df_right, how='left')

    X   W   Y    Z    A
0  x0  w0  y0  NaN  NaN
1  x1  w1  y1  NaN  NaN
2  x2  w2  y2   z2   a2
3  x3  w3  y3   z3   a3

In [10]:
pd.merge(df_left, df_right, how='right')

     X    W   Y   Z   A
0   x2   w2  y2  z2  a2
1   x3   w3  y3  z3  a3
2  NaN  NaN  y4  z4  a4
3  NaN  NaN  y5  z5  a5

In [11]:
pd.merge(df_left, df_right, how='outer')

     X    W   Y    Z    A
0   x0   w0  y0  NaN  NaN
1   x1   w1  y1  NaN  NaN
2   x2   w2  y2   z2   a2
3   x3   w3  y3   z3   a3
4  NaN  NaN  y4   z4   a4
5  NaN  NaN  y5   z5   a5